<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <span id="logo">
    <img src="https://api.nasa.gov/images/logo.png" />
  </span>


  <ion-grid>
    <ion-searchbar (ionInput)="search($event)" placeholder="Pesquise imagens"></ion-searchbar>

    <ion-card *ngFor="let dado of dados" >

      <img  *ngIf="dado.data['0'].media_type == 'image'" src="{{dado.links['0'].href}}"/>
     
      <video controls width="100%" *ngIf="dado.data['0'].media_type == 'video'" >
        <source type="video/mp4"  src="{{dado.links['0'].href.toString().replace('.srt','~orig.mp4')}}"/>
      </video>
      

      <ion-card-content>
        <ion-card-title>
          {{dado.data[0].title}}
        </ion-card-title>
        <p>
          {{dado.data[0].description}}
        </p>

      </ion-card-content>

      <ion-note>
        {{dado.data[0].date_created}}
      </ion-note>


    </ion-card>

  </ion-grid>



</ion-content>